// 
// Variables
//

// Tipografía
$sans: Helvetica, Arial, sans-serif;
$serif: Times, "Times New Roman", serif;

// Colores
$texto-blanco: #fff; // blanco
$background-header: #00A0A9; // Turquesa
$hover: #4ABDC6; // Turquesa claro
$principal: #29AEDE; // Celeste

// Layout
$max-width: 1024px;
$content-width: 800px;
$header-width: 20%;
